<div class="container">
  <div>
  <h1 class="about-me">ABOUT ME</h1>
  <h3 class="description">I am a web developer with experience in HTML, CSS, JavaScript and TypeScript. I am passionate about creating
    beautiful and user-friendly websites, I have a strong understanding of the principles of web development and design.
    I am a creative thinker and always looking for new way to improve my work, I am outgoing, adventurous and open-minded.
    I get across to people and adjust to changes with ease, I believe that gaining knowledge is important and contributes
    to growth. I am enthusiastic, self-motivated and a hardworking person, I am resilient in challenging situations as well
  as able to work well under pressure and adhere to strict deadlines.</h3>
</div>
</div>
