.bg{
  height: 100vh;
  font-family: "Times New Roman";
  font-style: italic;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
}

.name {
  animation: slide-in 1.5s ease; /* Apply the animation */
}

.intro {
  animation: slide-out 1.5s ease; /* Apply the animation */
}
