<div class="container">
  <nav class="navbar navbar-expand-lg ">
    <a class="navbar-brand" href="#"><img src="../../assets/sharifaabdool-logo.png" height="80px" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNavAltMarkup">
      <div class="navbar-nav ">
        <a class="nav-item nav-link" href="#">Home</a>
        <a class="nav-item nav-link" routerLink="about">About</a>
        <a class="nav-item nav-link" routerLink="work">Work Experience</a>
        <a class="nav-item nav-link" routerLink="contact">Contact Me</a>
      </div>
    </div>
  </nav>
</div>

