<div class="container">
<div class="work">
  <h3 class="text-center work-header">WORK EXPERIENCE</h3>
    <div class="row">
      <div class="col">
        <div class="card one mb-3">
          <img src="../../assets/Levis-Logo.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Sales Stylist - Levi's Strauss</h5>
            <p class="card-text"><small class="text-body-secondary">Mar 2022 - Present · 1 yr 6 months</small></p>
            <div class="card-text">
              Responsibilities included but were not limited to:
              <ul>
                <li>Provide exceptional customer service to every Levi’s® Store customer using The 3C’s of Success:
                  Connect, Consult & Close</li>
                  <li> Meet or exceed established store and individual sales and performance goals daily</li>
                <li>Comply with Levi’s® Stores cash handling guidelines</li>
                <li>Comply with store security, safety, and loss prevention programs</li>
                  <li> Assist stock associates with replenishment and security tagging of merchandise on the selling floor
                as needed</li>
                  <li>Assist in pricing of merchandise as needed</li>
                <li>Assist in physical inventory and cycle counts</li>
                  <li>Assist in maintaining store appearance in accordance with Levi’s® Stores visual presentation
                standards and general housekeeping procedures</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card two mb-3">
          <img src="../../assets/younglings-logo.jpeg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Intern - Younglings Africa</h5>
            <p class="card-text"><small class="text-body-secondary">Jun 2023 - Present · 3 months</small></p>
            <div class="card-text">
              Responsibilities:
              <ul>
                <li>Learn about various aspects of web development, including front-end development and design.</li>
                <li>Gain exposure to different stages of the software development lifecycle, from concept to deployment.</li>
                <li>Learn to optimize web applications for maximum speed and scalability.</li>
                <li>Work with version control systems to manage codebase efficiently.</li>
                <li>Troubleshoot and resolve technical issues as they arise, demonstrating problem-solving skills.</li>
                <li>Stay up-to-date with industry trends, best practices, and emerging technologies in web development.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

